env/
.venv/
static/
db.sqlite3
Manage_Holidays/__pycache__/
Manage_Hours/__pycache__/
Manage_Tasks/__pycache__/
Manager_Holiday_Work/__pycache__/
Account/__pycache__/
Manage_Holidays/static/image/
Manage_Hours/static/image/
Manage_Tasks/static/image/
Manager_Holiday_Work/static/
Account/static/image/

*.pyc
__pycache__/

