{% extends 'layout.html' %} {% block content %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center g-2">
        >
        <form class="orm-vertical col-7 mt-5 m-auto border border-gray-dark shadow-lg" method="POST">
            {% csrf_token %}
            <p class="fs-1">{{title}} Disponibility</p>
            <div class="form-label-group col-12 mt-4 ">
                {{ dispo_form.as_p}}
            </div>
            <div class="row justify-content-around">
                <input name="submit" id="" class="btn-lg btn btn-success align-item-center mb-3 mt-4 col-4 rounded-0" type="submit" value="Submit">
                <a name="" id="" class="btn-lg btn btn-dark  mb-3 mt-4 col-5 rounded-0" href="{{request.META.HTTP_REFERER}}" role="button">Cancel</a>
            </div>
        </form>
    </div>

</div>

{% endblock content %}