{% extends 'layout.html' %} {% block content %} {% load static %}
<div class="container">
    <header class="py-5">
        <div class="container px-lg-5 mt-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center mb-5 shadow-lg">
                <div class="m-4 m-lg-5">
                    <h1 class="display-3 fw-bold"> {{title}} </h1>
                    <p class="fs-4">{{texte}}</p>
                </div>
            </div>
        </div>
    </header>
    <div class="row justify-content-around g-2 mt-3">
        <img src="{% static 'image/R.jpg' %}" alt="">
    </div>

    <div class="row justify-content-around g-2 mt-3">
        <div class="col-md-4 col-xxl-4 justify-content-around text-center">
            <h1 class="display-3 mt-2 mb-2 text-primary fw-bold">Every Availability</h1>
        </div>
    </div>

    <a name="" id="" class="btn btn-primary rounded-0 w-25" href="{% url 'Manage_Hours:add_disponibility' %}" role="button">Add disponibilities
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
    </a>

    <div class="row justify-content-center align-items-center g-2 mt-5">
        <div class="table-responsive-sm table-responsive-xxl table-responsive-md">
            <table class=" table align-middle table-hover  mt-4 mb-4">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">CODE</th>
                        <th scope="col">Date of Creation</th>
                        <th scope="col">Date of dispo.</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">employe</th>
                        <th scope="col">Status</th>
                        {% if request.path == '/Manage_Hours/My_disponibility/' %}
                        <th scope="col">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for items in dispo %}
                    <tr class="">
                        <td>{{items.code}}</td>
                        <td>{{items.Date_creation|date:"d/m/y"}}</td>
                        <td>{{items.date_day|date:"d/m/y"}}</td>
                        <td>{{items.start_hours|time:"H:i"}}</td>
                        <td>{{items.end_hours|time:"H:i"}}</td>
                        <td>{{items.employee}}</td>
                        <td>{{items.Status}}</td>
                        {% if request.path == '/Manage_Hours/My_disponibility/' %}
                        <td>
                            <a name="" id="" class="btn btn-link p-0" href="{% url 'Manage_Hours:update_disponibility' items.id %}" role="button" title="Modifier"><span class="text-500 fas fa-edit"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                              </svg></span></a>
                            <a type="button" class="btn btn-link" href="{% url 'Manage_Hours:delete_disponibility' items.id %}">
                                <span class="text-500 fas fa-edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </span>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock content %}